.chat-not-seen::after {
  content: '●';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  color: hsl(var(--secondary-foreground));
}
.chat-active::after {
  content: '●';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  color: hsl(var(--success));
}
